
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
}


.logo-container{

}

.header-container{
    border-bottom: 2px solid black;
}

.img-icon-barbell{
    padding-left: 1em;
}

.link-paths{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.user-info-container{
    display: flex;
    gap: 1em;
    align-items: center;
}

.btn-su,.btn-li{
    padding: 0.6em 1.25em;
    text-align: center;
    cursor: pointer;
    background-color: #2a43fd;
    color: white;
    outline: none;
    border: none;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.btn-su:hover,.btn-li:hover{
    
}

.user-icon-svg{
    width: 25px;
    height: 25px;
    display: flex;
}

.btn-toggler{
    opacity: 0;
    display: none;
}

.toggleScreen{
    /* display: ; */
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2a43fd;
    height: 100%;
    /* height: 100vh; */
    width: 100%;
    z-index: 4;
    overflow-y: scroll;
    padding-bottom: 1em;
}

.toggle-lists{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    gap: 1.5em;
    font-size: 1.25em;
    height: 100%;
}

.route-link{
    width: 100%;

    text-decoration: none;
    color: white;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.route-link:hover{
    color: orangered;
}

.path-item{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.5s all linear;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
}

.path-item:hover{
    text-decoration: underline; 
}

@media screen and (max-width: 768px){
    .toggler-container{
        margin-right: 3em;
    }
    .user-info-container{
        display: none;
        opacity: 0;
    }
    .btn-toggler{
        opacity: 1;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: fill 0.6s linear;
        -webkit-transition: fill 0.6s linear;
        -moz-transition: fill 0.6s linear;
        -ms-transition: fill 0.6s linear;
        -o-transition: fill 0.6s linear;
    }
    
    .btn-toggler:hover{
        fill: rgb(255, 51, 0);
    }
    .link-path{
        cursor: pointer !important;
        width: auto;
        /* border: 1px solid white; */
        width: 100%;
        padding: 0.6em;
        text-align: center;

    }
    .link-path a{
        text-decoration: none;
        color: white;
    }
    .btnContainer{
        display: flex;
        justify-content: flex-end;
        padding: 2em;
    }
    .link-paths{
        display: none;
        opacity: 0;
    }


}